*{
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1609522886437-27a610fbe81d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.row{
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-align: center; 
}
.col-header{
    height: 60px;
    width: 150px;
    box-shadow: 4px 4px 9 px rgba(201, 173, 173, 0);
    border-radius: 20px;
    padding:0.8rem 1rem;
    color:black;
}
.item{
    width: 150px;
    height: 66px;
    border: 1px solid black;
    box-shadow: 4px 4px 9 px rgba(201, 173, 173, 0);
    border-radius: 20px;
    background: rgb(199, 197, 197);
    padding: 0.8rem 1rem;
    color:black;
    text-align: center;
    cursor: grab;
}
.item:active{
    cursor:grabbing;
}
.placeholder{
    width: 150px;
    height: 66px;
}
.start{
    background: linear-gradient(90deg, #e21616 0%, orange 179.25%);
}
.progress{
    background: linear-gradient(90deg, orange 0%, yellow 100%);
}
.delivery{
    background: linear-gradient(90deg, yellow 0%, #a9ec0d 100%);
}
.done{
    background: linear-gradient(90deg, #a9ec0d 0%, green 100%);
}
.hold{
    border: 5px solid yellowgreen;
}
.hide{
    display: none;
}
.hovered{
    border-top: 2px solid black;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}